.text-center {
    text-align: center;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
  }
  .title-img {
    width: 200px;
    margin: auto;
  }
  .login-button {
    margin-top: 50px;
  }